<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marti.pocketbattle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginView"
            android:label="Log In">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pokemon.PokemonDetailView"
            android:label="My Pokémon" />
        <activity
            android:name=".RegisterView"
            android:label="Register" />
        <activity
            android:name=".HomeScreenView"
            android:label="Home" />
        <activity
            android:name=".pokemon.PokemonList"
            android:label="My Pokémon" />
        <activity
            android:name=".pokemon.PokemonBattleArea"
            android:label="BATTLE!!" />
        <activity
            android:name=".pokemon.PokemonSelectBattleList"
            android:label="Prepare for Battle!" />
        <activity
            android:name=".shop.ShopView"
            android:label="Shop" />
        <activity
            android:name=".shop.BuyEggView"
            android:label="Buy an egg" />
        <activity
            android:name=".pokemon.EndBattleView"
            android:label="End of battle" />
        <activity
            android:name=".highscores.HighscoreView"
            android:label="Highscores" />
        <activity android:name=".ProfileView"
            android:label="My Profile"/>
        <activity android:name=".pokemon.DifficultySelectView"
            android:label="Select difficulty"/>

    </application>

</manifest>